<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xjt.blog.mapper.TBlogMapper">
	<resultMap id="blogMap" type="org.xjt.blog.entity.TBlog">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="description" property="description"/>
		<result column="first_picture" property="firstPicture"/>
		<result column="content" property="content"/>
		<result column="flag" property="flag"/>
		<result column="published" property="published"/>
		<result column="appreciation" property="appreciation"/>
		<result column="commentabled" property="commentabled"/>
		<result column="create_time" property="createTime"/>
		<result column="recommend" property="recommend"/>
		<result column="share_statement" property="shareStatement"/>
		<result column="update_time" property="updateTime"/>
		<result column="views" property="views"/>
		<result column="type_id" property="typeId"/>
		<result column="user_id" property="userId"/>
		<result column="comment_count" property="commentCount"/>
		<result column="is_delete" property="isDelete"/>
	</resultMap>

	<resultMap id="BlogUserVoResult" type="org.xjt.blog.vo.BlogUserVo">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="description" property="description"/>
		<result column="first_picture" property="firstPicture"/>
		<result column="content" property="content"/>
		<result column="flag" property="flag"/>
		<result column="published" property="published"/>
		<result column="appreciation" property="appreciation"/>
		<result column="commentabled" property="commentabled"/>
		<result column="create_time" property="createTime"/>
		<result column="recommend" property="recommend"/>
		<result column="share_statement" property="shareStatement"/>
		<result column="update_time" property="updateTime"/>
		<result column="views" property="views"/>
		<result column="type_id" property="typeId"/>
		<result column="user_id" property="userId"/>
		<result column="comment_count" property="commentCount"/>
		<result column="is_delete" property="isDelete"/>
		<result column="username" property="username"/>
		<result column="nickname" property="nickname"/>
		<result column="avatar" property="avatar"/>
		<result column="email" property="email"/>
	</resultMap>
	
	<select id="findBlogById" resultType="map">
		SELECT
		  b.*,t.`name` tag_name
		FROM
		  t_blog b
		  LEFT JOIN t_blog_tags bt
		    ON b.`id` = bt.`blogs_id`
		  INNER JOIN t_tag t
		    ON bt.`tags_id` = t.`id`
		WHERE b.`id` = #{bid}
		LIMIT 1
	</select>
	
	<select id="getBlogsByPageHelper" resultType="map">
		SELECT
			b.`id` AS bid,
			b.`title`,
			b.`description`,
			b.`first_picture`,
			b.`flag`,
			b.`published`,
			b.`appreciation`,
			b.`commentabled`,
			b.`recommend`,
			b.`share_statement`,
			b.`views`,
			b.`type_id`,
			b.`user_id`,
			b.`comment_count`,
			b.`is_delete`,
			b.`create_time`,
			b.`update_time`,
			u.`id` AS uid,
			u.`username`,
			u.`nickname`,
			u.`avatar`,
			u.`email`,
			u.`description`
		FROM
			t_blog b
		LEFT JOIN t_user u
		ON b.`user_id` = u.`id`
		<where>
			<if test="type_id != null">
				and b.`type_id` = #{type_id}
			</if>
			<if test="published != null">
				and b.`published` = #{published}
			</if>
			<if test="flag != null ">
				and b.`flag` = #{flag}
			</if>
			<if test="share_statement != null ">
				and b.`share_statement` = #{share_statement}
			</if>
			<if test="is_delete != null ">
				and b.`is_delete` = #{is_delete}
			</if>
		</where>
		limit ((#{current} - 1) * #{size}),#{size}
	</select>

	<select id="findBlogDetailById" resultMap="BlogUserVoResult" parameterType="string">
		SELECT
		  b.*,
		  u.`username`,
		  u.`nickname`,
		  u.`avatar`,
		  u.`email`
		FROM
		  t_blog b
		  LEFT JOIN t_user u
		    ON b.`user_id` = u.`id`
		WHERE b.`id` = #{blogId}
	</select>

	<select id="getBlogCountsGroupByType" resultType="map">
		SELECT
		  t.`name` AS `name`,
		  COUNT(blog.`id`) AS `value`
		FROM
		  t_blog AS blog
		  LEFT JOIN t_type AS t
			ON t.`id` = blog.`type_id`
		GROUP BY t.`name`
	</select>

</mapper>